*{   box-sizing:border-box;
     padding: 0;
     margin: 0;
    --text_colour: #121212;
    --primary: #228A5E;
    --secondary: #D90000;
    --gray: #898989;
    --roboto: 'Roboto Condensed', sans-serif;
    
}
@media (max-width:1533px) {
    

html ,body{
    background-color: #898989;
    font-family:'Roboto Condensed', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;  

 }
}

.nav_div img{
    width: 6rem;
}
.nav_div{
    display: flex !important;
    gap: 10rem;
    justify-content: space-evenly !important;
}
.hero_div{
    height: 80vh;
    background-color: var(--primary);
    box-shadow: 2px 5px #8eafa1, 2px 5px #a6b3ae;
    margin-bottom: 10rem;
}
.nav-icon{
    width: 3%;
}

#btn-1 {
  display: flex;
  position: relative;
  left: 3.3rem;
  border: 1px solid white;
  border-width: 7px;
  border-radius: 1px;
  background-color: #228A5E;
  
}
#btn-2{
    text-decoration: none;
    color: white;

}

#btn-3{
    background-color: #D90000;
    position: relative;
    left: 3rem;
    border-radius: 1px ;
    border-width: 7px;
    border: 1px solid white;
}

#btn-4{
    text-decoration: none;
    color: white;

}
@media  (min-width:700px) {
    
#img-sec{
    width:20%;    
    margin-left: 90%;   
}
}
.text{
    padding-bottom: 30%;
    position: relative;
    top: -15rem;
    right: -23rem;
}

.sec-two{
    position: relative;
    top: -65rem;
    display: inline;
   
}

.img_frame{
  position: relative;
  left: -3rem;
  bottom: -1.5rem;
}

hr{
    width: 12%;
}

.vertical{
    border-left: 1px solid gray;
    height: 100rem;
    width: 100rem;
    position: relative;
    left: 30%;
    top: -91rem;
}


footer{
    position: relative;
    top: -100rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1;
    height: 100vh;
    background-color: var(--primary);
}
.footer_p{
    color: white;
}
.parent_footer_div{
    display: flex;
    justify-content: space-around;
}
.child_footer_div ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.child_footer_div ul a{
    color: white;
    text-decoration: none;
    padding-block: 1rem;
}
.footer_form_div{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: end;
}
.footer_form_div form{
    width: 35%;
    margin-right: 5rem;

}
.footer_form_div form input{
    width: 80%;
    border-radius: 5px;
    border: none;
    padding: 1.1rem;
}
.footer_form_div form p{
    text-align: center;
    margin-bottom: 1.75rem;
}
#footer_btn_div{
    position: relative;
}
#footer_btn_div button{
    background-color: var(--primary);
    color: white;
    border: none;
    width: 30%;
    height: 2.12rem;
    position: absolute;
    bottom: 0.8rem;
    left: 13.5rem;
    padding-bottom: 1.2rem;
    padding-top: 0.3rem;
    border-radius: 5px;
}
footer .child_p{
    background-color: white;
    margin-top: 3.5rem;
    padding-block: 0.3rem;
    text-align: center;
    color: #121212;
    display: flex;
    justify-content: space-around;
}
/* footer responsiveness for tabs*/
@media screen and (min-width: 576px) and (max-width: 920px){
    footer{
        height: max-content;
    }
    .footer_form_div form{
        width: 50%;
    }
    .footer_form_div form input{
        width: 100%;
    }
    #footer_btn_div button{
        left: 18rem;
    }
}

/* footer responsiveness for mobile screens*/
@media screen and (max-width: 575px) {
    footer{
        height: max-content;
        padding-top: 5rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
        background-color: var(--primary);
    }
    .child_footer_div img{
        padding-left: 7rem;
        padding-bottom: 3rem;
    }
    .parent_footer_div{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content:center;
    }
    .child_footer_div ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    .footer_form_div{
        height: fit-content;
        width: 100%;
    }
    .footer_form_div form{
        width: 100%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .footer_form_div form input{
        width: 80%;
        margin-inline: auto;
    }
    #footer_btn_div{
        position: relative;
    }
    #footer_btn_div button{
        bottom: 0.5rem;
        left: 15rem;
        padding-bottom: 0rem;
        padding-top: 0rem;
    }
    footer .child_p{
        margin-top: 0.2rem;
        flex-direction: column;
        justify-content: center;
    }
}